In [156]:
import pandas as pd
import numpy as np

In [157]:
df = pd.read_csv(r'..\data\netflix_titles.csv')

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [159]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [160]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [161]:
df.sample(25)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1282,s1283,TV Show,Zindagi in Short,NaN,NaN,India,"February 22, 2021",2020,TV-MA,1 Season,"International TV Shows, TV Dramas","Complicated marriages, digital romances, domes..."
2684,s2685,TV Show,The Innocence Files,NaN,NaN,United States,"April 15, 2020",2020,TV-MA,1 Season,"Crime TV Shows, Docuseries",The Innocence Project unravels missteps and de...
8163,s8164,Movie,Temporada de Caza,Natalia Garagiola,"Germán Palacios, Lautaro Bettoni, Boy Olmi, Ri...","Argentina, France, United States, Germany, Qatar","July 15, 2018",2017,TV-MA,108 min,"Dramas, International Movies",Animosity gives way to love and forgiveness wh...
6643,s6644,Movie,Dragonheart: A New Beginning,Doug Lefler,"Christopher Masterson, Harry Van Gorkum, Rona ...",United States,"January 1, 2020",2000,PG,84 min,"Action & Adventure, Sci-Fi & Fantasy",This sequel introduces Draco the dragon's offs...
6325,s6326,Movie,Black Panther,Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",United States,"September 4, 2018",2018,PG-13,135 min,"Action & Adventure, Sci-Fi & Fantasy","T'Challa, the superpowered new leader of the h..."
5488,s5489,TV Show,All Hail King Julien: Exiled,NaN,"Danny Jacobs, Andy Richter, Kevin Michael Rich...",NaN,"May 12, 2017",2017,TV-Y7,1 Season,"Kids' TV, TV Action & Adventure, TV Comedies","Julien's been dethroned, but loyal friends and..."
8256,s8257,Movie,The Craft,Andrew Fleming,"Robin Tunney, Fairuza Balk, Neve Campbell, Rac...",United States,"January 1, 2020",1996,R,101 min,"Horror Movies, Thrillers","At a Catholic school, a new girl falls in with..."
5152,s5153,Movie,Cuba and the Cameraman,Jon Alpert,NaN,United States,"November 24, 2017",2017,TV-14,114 min,Documentaries,Emmy-winning filmmaker Jon Alpert chronicles t...
2808,s2809,TV Show,We Speak Dance,NaN,Vandana Hart,United States,"March 17, 2020",2018,TV-MA,1 Season,Docuseries,Trained dancer Vandana Hart travels the world ...
7937,s7938,Movie,Sardaarji 2,Rohit Jugraj,"Jaswinder Bhalla, Sonam Bajwa, Diljit Dosanjh,...","Australia, India","October 15, 2017",2016,TV-PG,145 min,"Action & Adventure, Comedies, International Mo...",A simple farmer's life becomes complicated aft...
145,s146,Movie,House Party 2,"George Jackson, Doug McHenry","Christopher Reid, Christopher Martin, Martin L...",United States,"September 1, 2021",1991,R,94 min,"Comedies, Cult Movies, Music & Musicals",Kid goes off to college with scholarship money...
3688,s3689,TV Show,Bangkok Love Stories: Objects of Affection,NaN,"Apinya Sakuljaroensuk, Kanokchat Munyadon, Gye...",Thailand,"July 2, 2019",2019,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",A kind computer repairman falls for a street-s...
6859,s6860,Movie,God Knows Where I Am,"Jedd Wider, Todd Wider",Lori Singer,United States,"October 22, 2018",2016,TV-PG,103 min,Documentaries,"Through diary entries, this documentary follow..."
3976,s3977,TV Show,The Eagle of El-Se'eed,NaN,"Mohamed Ramadan, Sayed Rajab, Dorra Zarrouk, D...",NaN,"March 25, 2019",2018,TV-14,1 Season,"Crime TV Shows, International TV Shows, TV Act...",A police officer and a drug lord become embroi...
4472,s4473,Movie,Dovlatov,Aleksey German,"Milan Maric, Danila Kozlovsky, Helena Sujecka,...","Russia, Poland, Serbia","October 26, 2018",2018,PG-13,126 min,"Dramas, International Movies","Over six days in 1971, brilliant writer Sergei..."
4017,s4018,Movie,A Love Story,Maryo J. De los Reyes,"Maricel Soriano, Aga Muhlach, Angelica Pangani...",Philippines,"March 14, 2019",2007,TV-14,117 min,"Dramas, International Movies, Romantic Movies",Self-made millionaire Ian thinks he's found ha...
3055,s3056,TV Show,Cells at Work!,NaN,"Kana Hanazawa, Tomoaki Maeno, Daisuke Ono, Kik...",Japan,"January 1, 2020",2018,TV-PG,1 Season,"Anime Series, Teen TV Shows",One newcomer red blood cell just wants to do h...
993,s994,TV Show,Shadow and Bone,NaN,"Jessie Mei Li, Archie Renaux, Ben Barnes, Fred...",United States,"April 23, 2021",2021,TV-14,1 Season,"TV Action & Adventure, TV Dramas, TV Sci-Fi & ...",Dark forces conspire against orphan mapmaker A...
1040,s1041,TV Show,Durarara!!,NaN,"Toshiyuki Toyonaga, Miyuki Sawashiro, Mamoru M...",Japan,"April 15, 2021",2016,TV-MA,1 Season,"Anime Series, Crime TV Shows, International TV...",A young man looking for excitement moves to Ik...
1720,s1721,Movie,What We Wanted,Ulrike Kofler,"Lavinia Wilson, Elyas M'Barek, Anna Unterberge...",Austria,"November 11, 2020",2020,TV-MA,93 min,"Dramas, International Movies",A couple facing fertility issues finds their m...
2584,s2585,Movie,Material,Craig Freimond,"Vincent Ebrahim, Riaad Moosa, Joey Rasdien, De...",South Africa,"May 1, 2020",2012,TV-14,94 min,"Comedies, Dramas, International Movies",A dutiful son must hide his pursuit of stand-u...
6971,s6972,TV Show,Hinterland,NaN,"Richard Harrington, Mali Harries, Hannah Danie...",United Kingdom,"August 1, 2017",2016,TV-14,3 Seasons,"British TV Shows, Crime TV Shows, Internationa...",Forsaking London for the rustic landscapes of ...
7573,s7574,TV Show,Nature's Great Race,NaN,Liz Bonnin,United Kingdom,"October 1, 2017",2016,TV-PG,1 Season,"British TV Shows, Docuseries, Science & Nature TV",Epic footage captures three of the world's mos...
6882,s6883,Movie,Goon,Michael Dowse,"Seann William Scott, Jay Baruchel, Liev Schrei...","United States, Canada","August 15, 2017",2011,R,92 min,"Comedies, Sports Movies",When he's seen dispatching a rude opposing hoc...
676,s677,TV Show,Riverdale,Rob Seidenglanz,"K.J. Apa, Lili Reinhart, Camila Mendes, Cole S...",United States,"June 19, 2021",2019,TV-14,4 Seasons,"Crime TV Shows, TV Dramas, TV Mysteries","While navigating the troubled waters of sex, r..."

In [162]:
df['country'].replace(np.NaN, '', inplace=True)

In [163]:
df_movies = df[df['type'] == 'Movie']
df_series = df[df['type'] == 'TV Show']

In [164]:
def split_and_sum_uinique(df, df_col_name: str):
    dct = {}
    for val in df:
        if ',' in val:
            l = val.replace(' ,', ',').replace(', ', ',').split(',')
            for v in l:
                if v in dct:
                    dct[v] = dct[v] + 1
                else:
                    dct[v] = 1
        else:
            if val in dct:
                dct[val] = dct[val] + 1
            else:
                dct[val] = 1
    d = {df_col_name: [*dct], 'Count': [dct[key] for key in dct]}
    data = pd.DataFrame(data=d)
    return data

df_countries = split_and_sum_uinique(df['country'], 'Countries')
df_countries.drop(df_countries[df_countries.Countries==''].index ,inplace=True)
df_countries

         Countries  Count
0    United States   3690
1     South Africa     62
3            India   1046
4            Ghana      5
5     Burkina Faso      1
..             ...    ...
118          Sudan      1
119         Panama      1
120         Uganda      1
121   East Germany      1
122     Montenegro      1

[122 rows x 2 columns]

In [165]:
df_genres_movies = split_and_sum_uinique(df_movies['listed_in'], 'Genre')
df_genres_movies

                       Genre  Count
0              Documentaries    869
1   Children & Family Movies    641
2                     Dramas   2427
3         Independent Movies    756
4       International Movies   2752
5                   Comedies   1674
6                  Thrillers    577
7            Romantic Movies    616
8           Music & Musicals    375
9              Horror Movies    357
10          Sci-Fi & Fantasy    243
11        Action & Adventure    859
12            Classic Movies    116
13            Anime Features     71
14             Sports Movies    219
15               Cult Movies     71
16      Faith & Spirituality     65
17              LGBTQ Movies    102
18           Stand-Up Comedy    343
19                    Movies     57

In [166]:
df_genres_series = split_and_sum_uinique(df_series['listed_in'], 'Genre')
df_genres_series

                           Genre  Count
0         International TV Shows   1351
1                      TV Dramas    763
2                   TV Mysteries     98
3                 Crime TV Shows    470
4          TV Action & Adventure    168
5                     Docuseries    395
6                     Reality TV    255
7              Romantic TV Shows    370
8                    TV Comedies    581
9                      TV Horror     75
10              British TV Shows    253
11     Spanish-Language TV Shows    174
12                  TV Thrillers     57
13                      Kids' TV    451
14           TV Sci-Fi & Fantasy     84
15                  Anime Series    176
16               Korean TV Shows    151
17           Science & Nature TV     92
18                 Teen TV Shows     69
19                      TV Shows     16
20  Stand-Up Comedy & Talk Shows     56
21             Classic & Cult TV     28

In [167]:
import pycountry

input_countries = df_countries['Countries'].tolist()

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_3

codes = [countries.get(country, 'Unknown code') for country in input_countries]

df_countries = df_countries.assign(iso_alpha=codes)

df_countries.head()

       Countries  Count iso_alpha
0  United States   3690       USA
1   South Africa     62       ZAF
3          India   1046       IND
4          Ghana      5       GHA
5   Burkina Faso      1       BFA

In [168]:
df['duration'] = df['duration'].str.replace('[^0-9]', '')
df['duration'].sample(15)

C:\Users\Maciek\AppData\Local\Temp\ipykernel_5820\3942594964.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['duration'] = df['duration'].str.replace('[^0-9]', '')

4923     90
173      83
7985     85
6396    114
8349      3
6497    108
6804     97
4791     60
4546     58
1710     85
2664      1
1792     95
3821      1
8383     93
295     111
Name: duration, dtype: object

In [169]:
df.loc[df['duration'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [170]:
df.drop([5541, 5794, 5813], axis=0, inplace=True)

In [171]:
df['duration'] = df['duration'].astype('int')
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration         int32
listed_in       object
description     object
dtype: object

In [172]:
from collections import defaultdict

counter = defaultdict(int)

for val in df['date_added']:
    if isinstance(val, str):
        month = val.split()[2]
        counter[month] += 1
    else: continue

counter

defaultdict(int,
            {'2021': 1498,
             '2020': 1879,
             '2019': 2016,
             '2018': 1649,
             '2017': 1187,
             '2016': 427,
             '2015': 82,
             '2014': 24,
             '2013': 11,
             '2012': 3,
             '2011': 13,
             '2009': 2,
             '2008': 2,
             '2010': 1})

In [173]:
df.shape

(8804, 12)

In [174]:
month = []
for date in df['date_added']:
    if isinstance(date, str):
        y = date.split()[2]
        month.append(int(y))
    else:
        month.append(0)

df['year_added'] = month
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added
4915,s4916,Movie,Enissa Amani: Ehrenwort,Max Amini,Enissa Amani,Germany,"April 26, 2018",2018,TV-MA,66,Stand-Up Comedy,"Live from Hamburg, Iranian-German comedian Eni...",2018
8294,s8295,Movie,The Fear of 13,David Sington,NaN,United Kingdom,"June 1, 2016",2015,TV-MA,95,"Documentaries, International Movies","After 20 years on Death Row, self-educated inm...",2016
8140,s8141,Movie,Swiss Army Man,"Dan Kwan, Daniel Scheinert","Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi...","United States, Sweden","January 30, 2019",2016,R,97,"Comedies, Dramas, Independent Movies",A washed-up corpse with surprising abilities g...,2019
2709,s2710,Movie,Coffee & Kareem,Michael Dowse,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",United States,"April 3, 2020",2020,TV-MA,88,"Action & Adventure, Comedies",An inept Detroit cop must team up with his gir...,2020
1791,s1792,TV Show,Chico Bon Bon: Monkey with a Tool Belt,NaN,"Robbie Daymond, Dayci Brookshire, Anthony Tede...",United States,"October 27, 2020",2020,TV-Y,4,Kids' TV,"Armed with tools and engineering smarts, monke...",2020
2017,s2018,Movie,Bhai: Vyakti Ki Valli - Poorvardha,Mahesh Manjrekar,"Sagar Deshmukh, Vijay Kenkre, Iravati Harshe, ...",India,"September 10, 2020",2019,TV-14,116,"Dramas, International Movies",This first of a two-part biopic depicts the ea...,2020
7104,s7105,Movie,It's Fine,Ismail Farouk,"Saad El Soghayar, Amar, Mohamed Ramadan, Karee...",,"May 3, 2019",2012,TV-14,101,"Comedies, International Movies, Music & Musicals",When a beautiful belly-dancer moves into their...,2019
8223,s8224,Movie,The Brave One,Neil Jordan,"Jodie Foster, Terrence Howard, Naveen Andrews,...",United States,"November 1, 2019",2007,R,122,"Dramas, Thrillers",New York City radio host Erica Bain decides to...,2019
8032,s8033,Movie,Skiptrace,Renny Harlin,"Jackie Chan, Johnny Knoxville, Fan Bingbing, E...","China, Hong Kong, United States","July 4, 2019",2016,PG-13,107,"Action & Adventure, Comedies",To capture a crime lord who killed his partner...,2019
7484,s7485,Movie,Money Talks,Brett Ratner,"Charlie Sheen, Chris Tucker, Heather Locklear,...",United States,"November 1, 2019",1997,R,96,"Action & Adventure, Comedies",TV news reporter James Russell helps put small...,2019

In [175]:
month = []
for date in df['date_added']:
    if isinstance(date, str):
        y = date.split()[0]
        month.append(y)
    else:
        month.append(0)

df['month_added'] = month
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added
1190,s1191,Movie,Skylines,Liam O'Donnell,"Lindsey Morgan, Jonathan Howard, Daniel Bernha...","United Kingdom, United States","March 18, 2021",2020,R,113,Action & Adventure,When a mysterious alien virus begins to endang...,2021,March
4369,s4370,Movie,The Christmas Chronicles,Clay Kaytis,"Kurt Russell, Darby Camp, Judah Lewis, Kimberl...",United States,"November 22, 2018",2018,TV-PG,104,"Children & Family Movies, Comedies","After accidentally crashing Santa's sleigh, a ...",2018,November
2984,s2985,TV Show,Omniscient,NaN,"Carla Salle, Sandra Corveloni, Jonathan Haagen...",Brazil,"January 29, 2020",2020,TV-MA,1,"International TV Shows, TV Dramas, TV Sci-Fi &...","In a city where citizens are monitored 24/7, a...",2020,January
8641,s8642,Movie,Turbo,David Soren,"Ben Schwartz, Bill Hader, Luis Guzmán, Snoop D...",United States,"September 12, 2019",2013,PG,96,"Children & Family Movies, Comedies",A speed-obsessed snail who dreams of being the...,2019,September
4421,s4422,Movie,Aamir,Raj Kumar Gupta,"Rajeev Khandelwal, Gajraj Rao, Shashanka Ghosh...",India,"November 1, 2018",2008,TV-14,95,"International Movies, Thrillers","In this high-tension thriller, an anonymous ca...",2018,November
4653,s4654,Movie,City of Joy,Madeleine Gavin,NaN,"United States,","September 7, 2018",2018,TV-MA,77,Documentaries,Women who've been sexually brutalized in war-t...,2018,September
5127,s5128,Movie,Judd Apatow: The Return,Marcus Raboy,Judd Apatow,United States,"December 12, 2017",2017,TV-MA,70,Stand-Up Comedy,Judd Apatow returns to stand-up comedy after 2...,2017,December
494,s495,Movie,Rock the Kasbah,Barry Levinson,"Bill Murray, Kate Hudson, Zooey Deschanel, Dan...",United States,"July 8, 2021",2015,R,106,"Comedies, Music & Musicals",When a has-been music producer gets stuck in A...,2021,July
6890,s6891,TV Show,Grand Hotel,NaN,"Yon González, Amaia Salamanca, Adriana Ozores,...",Spain,"November 1, 2017",2013,TV-PG,3,"International TV Shows, Romantic TV Shows, Spa...",To learn the truth about his sister's mysterio...,2017,November
8203,s8204,Movie,The Bare-Footed Kid,Johnnie To,"Aaron Kwok, Lung Ti, Maggie Cheung, Chien-lien...",Hong Kong,"August 16, 2018",1993,TV-14,83,"Action & Adventure, International Movies","While working at a family friend's business, a...",2018,August

In [176]:
df.loc[df['month_added'] == 0]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added
6066,s6067,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",0,0
6174,s6175,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,United States,NaN,2018,TV-PG,5,Docuseries,This CNN original series has chef Anthony Bour...,0,0
6795,s6796,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...,0,0
6806,s6807,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,0,0
6901,s6902,TV Show,Gunslinger Girl,NaN,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaN,2008,TV-14,2,"Anime Series, Crime TV Shows","On the surface, the Social Welfare Agency appe...",0,0
7196,s7197,TV Show,Kikoriki,NaN,Igor Dmitriev,,NaN,2010,TV-Y,2,Kids' TV,A wacky rabbit and his gang of animal pals hav...,0,0
7254,s7255,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder...",0,0
7406,s7407,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",0,0
7847,s7848,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",0,0
8182,s8183,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ...",0,0

In [177]:
month_order = ['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

df['month_added'] = pd.Categorical(df['month_added'], categories=month_order, ordered=True)
df.sort_values(by=['month_added', 'year_added'], inplace=True)

In [178]:
df.sample(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added
229,s230,Movie,The Old Ways,Christopher Alender,"Brigitte Kali Canales, Andrea Cortes, Julia Ve...",United States,"August 25, 2021",2020,TV-MA,90,Horror Movies,A reporter visits her birthplace in Veracruz f...,2021,August
1525,s1526,Movie,Eggnoid: Love & Time Portal,Naya Anindita,"Morgan Oey, Sheila Dara, Luna Maya, Kevin Juli...",Indonesia,"December 17, 2020",2019,TV-14,102,"Dramas, International Movies, Romantic Movies",Sent from the future to look after a lonely gi...,2020,December
3637,s3638,Movie,Boi,Jorge M. Fontana,"Bernat Quintana, Adrian Pang, Andrew Lua, Rach...",Spain,"July 26, 2019",2018,TV-MA,111,"Dramas, Independent Movies, International Movies",A young chauffeur who's at a crossroads in his...,2019,July
3674,s3675,TV Show,PILI Fantasy: War of Dragons,NaN,"Wang Hsi-hua, Lai Wei, Zhang Yu-quan, Chen Yu-...",,"July 12, 2019",2019,TV-14,1,"International TV Shows, TV Action & Adventure,...","As turmoil looms in the Martial World, and the...",2019,July
4519,s4520,Movie,The Kindergarten Teacher,Sara Colangelo,"Maggie Gyllenhaal, Parker Sevak, Gael García B...","United States, Israel, United Kingdom, Canada","October 12, 2018",2018,R,97,"Dramas, Independent Movies",A devoted teacher takes interest in a young st...,2018,October
6825,s6826,TV Show,Gangs of Hassepur,NaN,"Ragini Khanna, Mandira Bedi, Tanishaa Mukerji",India,"April 15, 2017",2014,TV-PG,1,"International TV Shows, Stand-Up Comedy & Talk...",Training a keen eye on hot-button political to...,2017,April
2748,s2749,TV Show,Well-Intended Love,NaN,"Xu Kaicheng, Simona Wang, Ian Yi, Huang Qian S...",China,"April 1, 2020",2020,TV-14,2,"International TV Shows, Romantic TV Shows, TV ...","To secure a bone marrow donation, an actress d...",2020,April
5546,s5547,Movie,Five Nights in Maine,Maris Curran,"David Oyelowo, Dianne Wiest, Rosie Perez, Teyo...",United States,"April 1, 2017",2015,TV-MA,83,"Dramas, Independent Movies","After his wife dies in a car accident, a grief...",2017,April
8180,s8181,TV Show,The Adjusters,NaN,"Rynn Lim, Chris Tong, Aric Ho, Chan Fong",,"September 18, 2017",2010,TV-PG,2,"International TV Shows, TV Dramas",An insurance adjuster investigates cases of po...,2017,September
94,s95,Movie,Show Dogs,Raja Gosnell,"Will Arnett, Ludacris, Natasha Lyonne, Stanley...","United Kingdom, United States","September 8, 2021",2018,PG,90,"Children & Family Movies, Comedies",A rough and tough police dog must go undercove...,2021,September
2422,s2423,TV Show,Queer Eye,NaN,"Bobby Berk, Karamo Brown, Tan France, Antoni P...",United States,"June 5, 2020",2020,TV-14,5,Reality TV,"An all-new “Fab Five” advise men on fashion, g...",2020,June
2650,s2651,Movie,Time to Hunt,Yoon Sung-hyun,"Lee Je-hoon, Ahn Jae-hong, Choi Woo-shik, Park...",South Korea,"April 23, 2020",2020,TV-MA,135,"International Movies, Thrillers",Wanting to leave their dystopian world behind ...,2020,April
3791,s3792,Movie,Pegasus,Han Han,"Shen Teng, Yin Zheng, Johnny Huang, Zhang Beny...",China,"May 31, 2019",2019,TV-MA,98,"Comedies, Dramas, International Movies","After a five-year suspension, a once-legendary...",2019,May
3880,s3881,TV Show,K.O. One Re-act,NaN,"Jiro Wang, Pets Tseng, Sam Lin, Sylvia Wang, W...",,"April 30, 2019",2013,TV-14,1,"International TV Shows, TV Comedies, TV Dramas","As a guardian of space-time order, 28-year-old...",2019,April
3934,s3935,TV Show,Time: The Kalief Browder Story,NaN,NaN,United States,"April 7, 2019",2017,TV-MA,1,Docuseries,This series traces the tragic case of Kalief B...,2019,April
7042,s7043,Movie,I Am Vengeance,Ross Boyask,"Stu Bennett, Anna Shaffer, Mark Griffin, Bryan...",United Kingdom,"December 22, 2018",2018,R,93,Action & Adventure,After learning that an ex-military friend and ...,2018,December
5058,s5059,Movie,Holy Camp!,"Javier Ambrossi, Javier Calvo","Macarena García, Anna Castillo, Belén Cuesta, ...",Spain,"January 29, 2018",2017,TV-MA,108,"Comedies, Dramas, Faith & Spirituality","In this musical comedy, two rebellious teen gi...",2018,January
6018,s6019,Movie,50 First Dates,Peter Segal,"Adam Sandler, Drew Barrymore, Rob Schneider, S...",United States,"December 1, 2020",2004,PG-13,99,"Comedies, Romantic Movies",After falling for a pretty art teacher who has...,2020,December
1440,s1441,TV Show,Nailed It! Mexico,NaN,"Omar Chaparro, Anna Ruiz","Mexico, United States","January 5, 2021",2021,TV-PG,3,"International TV Shows, Reality TV, Spanish-La...","The fun, fondant and hilarious cake fails head...",2021,January
5477,s5478,TV Show,Highland: Thailand's Marijuana Awakening,NaN,Sebastian Perry,Thailand,"May 19, 2017",2017,TV-MA,1,"Docuseries, International TV Shows",Thailand's complicated history with marijuana ...,2017,May

In [180]:
df_countries.to_csv(r'..\data\netflix-countries.csv', sep=',', index=False)
df.to_csv(r'..\data\netflix.csv', sep=',', index=False)
df_genres_movies.to_csv(r'..\data\netflix-genres-m.csv', sep=',', index=False)
df_genres_series.to_csv(r'..\data\netflix-genres-s.csv', sep=',', index=False)